extends ../layout

block content
  .header
    .container
      .row
        | Kanri (管理)
        |  | 
        a(href='./stream') stream
        |  | 
        a(href='./users') users
        |  | 
        a(href='./logout') logout
  block ui