extends ../layout

block content
  .container
    h1.summary Login
    .row
      .seven.columns
        #TODO: put kawaii things here
      .five.columns
        #TODO: Click to login with google/etc...
