extends ../layout

block content
  .container
    h1.summary Stream
    .row
      .seven.columns
        #TODO: As files are uploaded, they should appear here
      .five.columns
        #TODO: Selected file information and controls
