extends ../layout

block content
  .container
    h1.summary Users
    #TODO: Add user management, including user access levels
    #      maybe fine grained down to exactly what they can and
    #      cannot do in relation to existing files, probably not
    #      needed though.
