extends layout

block content
  .container.summary
    .row
      //if error.status === 404
        //img(src='/images/404.jpg')
      //else
      h3= message
      h5= status
      pre #{error.stack}
