extends layout

block content
  // Summary block
  .summary
    .container
      .row
        h2.title
          b= config.HELLO
        h5
          em= config.TAGLINE
        form(enctype="multipart/form-data" method="post" action=config.UPLOAD_URL + "/upload.php?output=html")
          label.button.button-primary#nojs-upload-button
            input(type="file" name="files[]" multiple="")
          input(type="submit" value="Submit")
        p!= config.DESCRIPTION
