extends layout

block content
  .container
    h1.summary Tools
    h5.title ShareX Custom Uploader
    dl.toolinfo
      dt Download ShareX
      dd 
        a(href='http://getsharex.com/', target='_blank') http://getsharex.com/
      dt Config
      dd
        a(href='#{config.URL}tools/sharex', target='_blank') #{config.URL}tools/sharex
