body {
    background-image: url('/images/cream_dust.png');
}
#upload-button {
    margin-bottom: 2em;
}
.title {
    margin-bottom: -5px;
}
.summary {
    margin-top: 10%;
}
.toolinfo{
    margin-top: 0px;
}
.links {
    margin-top: 10em;
    margin-bottom: 10em;
}
.footer {
    margin-top: 25px;
    color: #AAA;
    text-align: center;
    margin-bottom: 5%;
}
.hidden {
    display:none;
}
.preview img {
    border-radius: 4px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
}
.preview {
    margin-right: 10px;
}
.error {
    color: #f00;
}
.progress-outer {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #FFF;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px #000;
    color: transparent;
    display: inline-block;
    font-size: 0px;
    float: right;
    height: 10px;
    margin: 6px 6px 0px;
    overflow: hidden;
    vertical-align: middle;
    width: 50px;
}
.progress-inner {
    background-color: #000;
    height: 10px;
    margin: 0px;
    width: 0px;
}

@media (max-width: 730px) {
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    min-width: 100%;
  }
}
