html {
    height: 100%;
}
body {
    background-image: url('../images/cream_dust.png');
}
#upload-button {
    margin-bottom: 2em;
}
.title {
    margin-bottom: -5px;
}
.summary {
    margin-top: 10%;
}
.toolinfo{
    margin-top: 0px;
}
.links {
    margin-top: 10em;
    margin-bottom: 10em;
}
.header {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #4A4A4A;
    text-align: center;
    background-color: #FAFAFA;
    border-bottom: 1px solid #AAA;
}
.footer {
    margin-top: 25px;
    color: #AAA;
    text-align: center;
    margin-bottom: 5%;
}
.hidden {
    display:none;
}
.preview img {
    border-radius: 4px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
}
.preview {
    margin-right: 10px;
}
.error {
    color: #f00;
}
.progress-outer {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #FFF;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px #000;
    color: transparent;
    display: inline-block;
    font-size: 0px;
    float: right;
    height: 10px;
    margin: 6px 6px 0px;
    overflow: hidden;
    vertical-align: middle;
    width: 50px;
}
.progress-inner {
    background-color: #000;
    height: 10px;
    margin: 0px;
    width: 0px;
}
.login_splash {
    width: 100%;
    height: auto;
}
button.sign_in{
    width: 100%;
    height: 50px;
    border: none;
    font-size: 0px;
}
button.sign_in.google {
    background: url("../images/sign_in_google.png") no-repeat center top;
    background-size: contain;
}
button.sign_in.google:active {
    background: url("../images/sign_in_google_pressed.png") no-repeat center top;
    background-size: contain;
}
button.sign_in.pixiv {
    background: url("../images/sign_in_pixiv.png") no-repeat center top;
    background-size: contain;
}
button.sign_in.pixiv:active {
    background: url("../images/sign_in_pixiv_pressed.png") no-repeat center top;
    background-size: contain;
}
button.sign_in.github {
    background: url("../images/sign_in_github.png") no-repeat center top;
    background-size: contain;
}
button.sign_in.github:active {
    background: url("../images/sign_in_github_pressed.png") no-repeat center top;
    background-size: contain;
}

@media (max-width: 730px) {
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    min-width: 100%;
  }
}
